﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EASY-BYTE</title>
    <meta name="description" content="easy byte">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="" />
    <script data-n-head="true" th:src="@{/font/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script data-n-head="true" th:src="@{/font/js/echarts.js}" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/font/css/amazeui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/font/css/app.css}" />
    <style type="text/css">
        .a{
            background-image: url("bg.jpg");

        }

    </style>
</head>
<body class="theme-blue">
    <div class="a">

    </div>
</body>
</html>