<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>添加</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form form form-horizontal"  id="form-studentCourse-add" action="#" th:action="@{/admin/studentCourse/add}">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>学生：</label>
                <div class="layui-input-inline">
                    <input type="hidden" class="layui-input" name="stuId"  placeholder="学生ID" th:value="${stuId}" id="stuId" readonly="readonly"/>
                    <input type="layui-input" class="layui-input"  placeholder="学生姓名" th:value="${stuName}" readonly="readonly" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>课程：</label>
                <div class="layui-input-inline">
<!--                    <input type="layui-input" class="layui-input" name="courseId"  placeholder="课程ID" id="courseId"/>-->
                    <select name="courseId" id="courseId" lay-search>
                        <option value="">请选择课程</option>
                        <option th:each="list:${courseList}"
                                th:text="${list.courseName}" th:value="${list.id}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button  class="layui-btn" id="subbtn" type="submit" >
                    增加
                </button>
                <button  class="layui-btn" id="reset" type="reset" >
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"></div>
<div th:replace="_ueditor :: ueditor"></div>
 <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script>
    layui.use(['form', 'layer','laydate'],function() {
        $ = layui.jquery;
        var form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        lay('.timeSpace').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,type: 'datetime'
            });
        });
    });
 $(function(){
	$("#form-studentCourse-add").validate({
		rules:{
            stuId:{
                required: true,
			},
            courseId:{
                required: true,
			},
            score:{
                required: true,
			},

		},
		onkeyup:false,
		debug: true,
		success:"valid",
		submitHandler:function(form){
				$(form).ajaxSubmit({
				type: 'POST',
				url: "/admin/studentCourse/add" ,
				success: function(data){
					if(data.code == "1"){
						selfmsg('添加成功!',1,function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index);
						});
					}else{
						selfmsg('添加失败!');
					}
				},
                error: function(){
					selfmsg('添加异常!',5);
				}
			});
		}
	});
});

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>