<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>添加</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form form form-horizontal"  id="form-student-add" action="#" th:action="@{/admin/student/add}">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>学生学号：</label>
                <div class="layui-input-inline">
                    <input type="layui-input" class="layui-input" name="stuNumber"  placeholder="学生姓名" id="stuNumber"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>学生姓名：</label>
                <div class="layui-input-inline">
                    <input type="layui-input" class="layui-input" name="stuName"  placeholder="学生姓名" id="stuName"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>班级：</label>
                <div class="layui-input-inline">
                    <select id="classInfoId" name="classInfoId" lay-search>
                        <option value="">请选择班级</option>
                        <option th:each="list:${classInfoList}"
                                th:text="${list.courseName}" th:value="${list.id}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>性别
                </label>
                <div class="layui-input-inline">
                    <input type="radio" id="sex" name="sex" value="0" title="男">
                    <input type="radio"  id="nsex" name="sex" value="1" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>年龄：</label>
                <div class="layui-input-inline">
                    <input type="layui-input" class="layui-input" name="age"  placeholder="年龄" id="age"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机：</label>
                <div class="layui-input-inline">
                    <input type="layui-input" class="layui-input" name="tel"  placeholder="手机" id="tel"/>
                </div>
            </div>

            
            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button  class="layui-btn" id="subbtn" type="submit" >
                    增加
                </button>
                <button  class="layui-btn" id="reset" type="reset" >
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"></div>
<div th:replace="_ueditor :: ueditor"></div>
 <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script>
    layui.use(['form', 'layer','laydate'],function() {
        $ = layui.jquery;
        var form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        lay('.timeSpace').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,type: 'datetime'
            });
        });
    });
 $(function(){
	$("#form-student-add").validate({
		rules:{
            stuNumber: {
                required: true,
            },
            stuName:{
                required: true,
			},
            classInfoId:{
                required: true,
			},
            age:{
                required: true,
			},
            sex:{
                required: true,
            },


		},
		onkeyup:false,
		debug: true,
		success:"valid",
		submitHandler:function(form){
				$(form).ajaxSubmit({
				type: 'POST',
				url: "/admin/student/add" ,
				success: function(data){
					if(data.code == "1"){
						selfmsg('添加成功!',1,function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index);
						});
					}else{
						selfmsg('添加失败!');
					}
				},
                error: function(){
					selfmsg('添加异常!',5);
				}
			});
		}
	});
});

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>