<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
    <title>编辑</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form form form-horizontal" id="form-student-edit" action="#"
              th:action="@{/admin/student/edit}"
              th:object="${student}" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${student.id}"/>

            <div class="layui-form-item">
                <label class="layui-form-label"><span
                        class="x-red">*</span>学生学号：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" readonly="readonly"
                           th:value="${student.stuNumber}"
                           name="stuNumber" placeholder="修改学生姓名"
                           id="stuNumber"/>

                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span
                            class="x-red">*</span>学生姓名：</label>
                    <div class="layui-input-inline">
                            <input type="text" class="layui-input"
                                   th:value="${student.stuName}"
                                   name="stuName" placeholder="修改学生姓名"
                                   id="stuName"/>

                    </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span
                        class="x-red">*</span>性别：</label>
                <div class="layui-input-inline">
                    <input type="radio" class="layui-input" value="0" name="sex"  title="男" id="nsex"/>
                    <input type="radio" class="layui-input" value="1" name="sex"  title="女" id="sex" />

                </div>
            </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span
                                    class="x-red">*</span>班级：</label>
                            <div class="layui-input-inline">

                                <select id="classInfoId" name="classInfoId" lay-search th:field="${student.classInfoId}">
                                    <option value="">请选择班级</option>
                                    <option th:each="list:${classInfoList}"
                                            th:text="${list.courseName}" th:value="${list.id}"></option>
                                </select>

                            </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label"><span
                                    class="x-red">*</span>年龄：</label>
                            <div class="layui-input-inline">
                                    <input type="text" class="layui-input"
                                           th:value="${student.age}"
                                           name="age" placeholder="修改年龄"
                                           id="age"/>

                            </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">手机：</label>
                            <div class="layui-input-inline">
                                    <input type="text" class="layui-input"
                                           th:value="${student.tel}"
                                           name="tel" placeholder="修改手机"
                                           id="tel"/>

                            </div>
                    </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button class="layui-btn" id="subbtn" type="submit">
                    修改
                </button>
                <button class="layui-btn" id="reset" type="reset">
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"></div>
<div th:replace="_ueditor :: ueditor"></div>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script>
    let sex = [[${student.sex}]];
    let sexAll = $("input[name='sex']");
    $.each(sexAll,function (j,checkbox) {
        let checkValue = $(checkbox).val();
        if(sex == checkValue){
            $(checkbox).attr("checked",true);
        }

    })
</script>
<script>
    layui.use(['form', 'layer', 'laydate'], function () {
        $ = layui.jquery;
        var form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;
        lay('.timeSpace').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
                , type: 'datetime'
            });
        });
    });
    $(function () {
        $("#form-student-edit").validate({
            rules: {
        stuName:
        {
            required: true,
        }
    ,
        classInfoId:
        {
            required: true,
        }
    ,
        age:
        {
            required: true,
        }
    ,
        sex:
            {
                required: true,
            }
    ,


    },
        onkeyup:false,
            debug
    :
        true,
            success
    :
        "valid",
            submitHandler
    :

        function (form) {
            $(form).ajaxSubmit({
                type: 'POST',
                url: "/admin/student/edit",
                success: function (data) {
                    if (data.code == "1") {
                        selfmsg('编辑成功!', 1, function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload();
                            parent.layer.close(index);
                        });
                    } else {
                        selfmsg('编辑失败!');
                    }
                },
                error: function () {
                    selfmsg('编辑异常!', 5);
                }
            });
        }
    })
        ;
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>