<!--<header class="navbar-wrapper" th:fragment="header">-->
<!--	<div class="navbar navbar-fixed-top">-->
<!--		<div class="container-fluid cl">-->
<!--			<a class="logo navbar-logo f-l hidden-xs" href="/"><img th:src="@{/h-ui.admin/images/logo-w.png}" src='static/h-ui.admin/images/logo-w.png' style="width: 200px;" /></a>-->
<!--			<a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml">H-ui</a>-->
<!--			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>-->
<!--			<nav class="nav navbar-nav">-->
<!--				<ul class="cl">-->
<!--					<li class="dropDown dropDown_hover">-->
<!--						<a href="javascript:void(0);" style="font-size:1.6em;color:#fff;height:61px;" onClick="displaynavbar(this)"><i class="Hui-iconfont">&#xe681;</i></a>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</nav>-->
<!--			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">-->
<!--				<ul class="cl">-->
<!--                    <li th:each="rol:${user.roles}" th:text="${rol.name}">-->
<!--						</li>&nbsp;-->
<!-- 					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A" sec:authentication="name" th:text=${loginUserName}><i class="Hui-iconfont" >&#xe6d5;</i></a>-->
<!--						<ul class="dropDown-menu menu radius box-shadow">-->
<!--							<li><a th:href="@{/logout}" href="logout">退出</a></li>-->
<!--						</ul>-->
<!--					</li>-->
<!--					-->
<!--&lt;!&ndash; 					<li><a href="javascript:;" data-val="green" title="默认（绿色）">默认（绿色）</a></li>-->
<!--					<li id="Hui-skin"   class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>-->
<!--						<ul class="dropDown-menu menu radius box-shadow">-->


<!--						 	<li><a href="javascript:;" data-val="green" title="默认（绿色）">默认（绿色）</a></li>-->
<!--							<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>-->
<!--							<li><a href="javascript:;" data-val="default" title="绿色">黑色</a></li>-->
<!--							<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>-->
<!--							<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>-->
<!--							<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>-->
<!--						</ul> -->
<!--					</li>   &ndash;&gt;-->

<!--				</ul>-->
<!--			</nav>-->
<!--		</div>-->
<!--	</div>-->
<!--</header>-->


<div class="container" th:fragment="header">
	<div class="logo" style="text-align: center">
		<a href="./index.html">学生信息管理系统后台</a></div>
	<div class="left_open">
		<a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
	</div>
<!--	<ul class="layui-nav left fast-add" lay-filter="">-->
<!--		<li class="layui-nav-item">-->
<!--			<a href="javascript:;">+新增</a>-->
<!--			<dl class="layui-nav-child">-->
<!--				&lt;!&ndash; 二级菜单 &ndash;&gt;-->
<!--				<dd>-->
<!--					<a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">-->
<!--						<i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>-->
<!--				<dd>-->
<!--					<a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">-->
<!--						<i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>-->
<!--				<dd>-->
<!--					<a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">-->
<!--						<i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>-->
<!--				<dd>-->
<!--					<a onclick="xadmin.add_tab('在tab打开','member-list.html')">-->
<!--						<i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>-->
<!--				<dd>-->
<!--					<a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">-->
<!--						<i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>-->
<!--			</dl>-->
<!--		</li>-->
<!--	</ul>-->
	<ul class="layui-nav right" lay-filter="">
		<li class="layui-nav-item">
			<a href="javascript:;">admin</a>
			<dl class="layui-nav-child">
				<!-- 二级菜单 -->
<!--				<dd>-->
<!--					<a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>-->
<!--				<dd>-->
<!--					<a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>-->
				<dd>
					<a th:href="@{/logout}" href="logout">退出</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item to-index">
			<a href="/">前台首页</a></li>
	</ul>
</div>

